<!-- This is what the app looked like before switching to angularJS. Please do not delete because we will need it for completing the migration to angularJS. -->

<!--<!DOCTYPE html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Collaborative Writing</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Kufam&display=swap" rel="stylesheet">



   <link href="https://fonts.googleapis.com/css2?family=Lusitana&display=swap" rel="stylesheet">



  </head>
  <body ng-app="my_app">
    <br>
<header>
  <nav class="navigation">
    <div class="leftNav">
      <ul class="logo">
        <li> <img src="images/black_pyramid.png" width=22em height=22em "></img></li>
       <li><a href="">Collaborative Writing</a></li>
      </ul>
    </div>
    <div class="rightNav">  
      <ul class="options">
       <li><a href="signup/signup.html">Sign up</a></li>
       <li><a href="login/login.html">Log in</a></li>
      </ul>
    </div>
  </nav>
</header>
<br>
<br>
<main>
<p>It was nearly noon, and the sun was at its strongest. But the time did not matter so much; on this side of the planet, the sun never set. The harsh bloodred rays pierced through the hazy atmosphere and reflected painfully off of the chrome finish of a rocketship. into the dry sand in which three delicate landing gears were buried. The rocketship was a plain and rudimentary one; it resembled a metal tube capped by a welded-on cone with a single circular window, but it towered over the endless sand like a great statue. Above the landing gears was a closed hatch, underneath which emerged a simple draw bridge. 
</p>
<p>
    The rocketship sat undisturbed in a deep valley of sand and desolation. Nearby was a small pool of clear but lifeless water,marking the low point. It was impossible to see beyond the mountains of sand that gradually sloped upwards for endless miles in any direction. This was an unforgiving territory. The sand contained the sunken bodies of centuries of marooned pilots, who had landed here in the hopes of finding supplies and instead succumbed to the blistering heat and choked on the dusty atmosphere. 
</p>
<p>
    There was no existence beyond the dunes, the pool, and the rocketship. Except, there was a small noise; a regular, faint, rumbling, almost imperceptible at first. It came from the west. It was difficult to tell where the dune basin ended and the yellow atmosphere began; far in the distance, they blended, shimmering in the heat.
<p>
    Then a shape, cut across the horizon, mounting the top of the dune. A golden helmet appeared first, attached to a black-clad figure. He was riding a camel.  
  </p>
  </main>
<br>
<h1> </h1>
<script>
var app = angular.module('my_app', []);
app.controller('user_submit', function($scope, $http) {
    $scope.user_submission = "";
    $scope.submit = function() {
        $scope.user_submission="";
        //realized we can't post to a json file. So only GETs :(
    };
});
app.controller('user_vote', function($scope, $http) {
  $scope.current_submission = "hello";
  $scope.submission_list = [];
  $scope.submission_index = 0;
  $scope.init = function() {
      $http.get("data.json")
        .then(function(response) {
          var data = response.data;
          $scope.submission_list = data.submissions;
          $scope.current_submission = $scope.submission_list[$scope.submission_index];
          console.log($scope.submission_list);
    });
  }
  $scope.next = function() {
    $scope.submission_index++;
    console.log($scope.submission_list);
    console.log($scope.submission_index);
    $scope.current_submission = $scope.submission_list[$scope.submission_index];
    console.log($scope.submission_list);
    console.log($scope.current_submission);
  }
});
</script>
<div ng-controller="user_submit">
  <textarea ng-model="user_submission" placeholder="What happens next?"" rows="10" cols="30"></textarea>
  <br><br>
  <input type="submit" ng-click="submit()">
</form>
</div>
<h1> Or vote on other submissions: </h1>
<div class="submission" ng-controller="user_vote" data-ng-init="init()">
<p>
   {{current_submission}}</p>
</div>
<div ng-controller="user_vote">
<form>
  <input type="submit" value="Yes">
  <input type="submit" value="Next" ng-click="next()">
</form>
</div>
</body>
</html>-->
