
body {
  background-color: rgb(75,16,28);
  max-width: 1000px;
  margin: auto;
  padding: 1em 1em 1em 1em;
}

p {
  color: white;
  line-height: 140%;
  font-family: 'Lusitana', serif;
}

main p:first-child::first-letter {
  font-size: 300%;
}

h1 {
  color: rgb(230, 230, 230);
  font-family: "Inter", sans-serif;
  font-size: 110%;
  font-weight: normal;
}

.navigation{
  display: flex;
  justify-content: space-between; 
  margin:0;
  padding: 0;
}

.navigation ul {
  margin:0;
  padding:0;
  list-style: none;
  display: flex;
}

.navigation a {
  text-decoration: none;
  color: rgb(230, 230, 230);
  padding: 0.5em;
  font-family: "Inter", sans-serif;
  font-size: 110%;
}

.navigation .logo a {
  padding:0;
}

.submission p {
  padding: 1em;
  border-style: solid;
  border-width: 0.1em;
  border-color: white;
}

textarea {
  background: rgb(75,16,28);
  color: white;
  line-height: 120%;
  font-family: 'Lusitana', serif;
  font-size: 100%;
}

img {
  margin: 0em 0.3em 0em 0em;
}


